.box {
  height: 2792px;
  width: 2364px;
}

.box .order-carts {
  height: 2792px;
  left: 0;
  position: fixed;
  top: 0;
  width: 2366px;
}

.box .overlap {
  height: 2792px;
  position: relative;
  width: 2370px;
}

.box .footer-category {
  height: 2792px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2370px;
}

.box .overlap-group {
  height: 2792px;
  position: relative;
  width: 2362px;
}

.box .rectangle {
  background-color: #ffffff;
  height: 2782px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2362px;
}

.box .footer {
  height: 620px;
  left: 0;
  position: absolute;
  top: 2172px;
  width: 2362px;
}

.box .hours-mon-fri {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 46px;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 2279px;
}

.box .text-wrapper {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 100px;
}

.box .span {
  font-size: 45px;
}

.box .address-floor {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 55px;
  font-weight: 700;
  left: 789px;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 2273px;
}

.box .the-best-restaurant {
  color: #ffffff;
  font-family: "Inter-Italic", Helvetica;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  left: 1427px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 2277px;
}

.box .div {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 38px;
  font-weight: 700;
  left: 743px;
  letter-spacing: 0;
  line-height: 100px;
  position: absolute;
  top: 2651px;
  white-space: nowrap;
}

.box .group {
  height: 413px;
  left: 61px;
  position: absolute;
  top: 302px;
  width: 1457px;
}

.box .overlap-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000066;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 413px;
  position: relative;
  width: 1453px;
}

.box .customer-address {
  height: 30px;
  left: 38px;
  position: absolute;
  top: 50px;
  width: 364px;
}

.box .vector {
  height: 4px;
  left: -1px;
  position: absolute;
  top: 121px;
  width: 1453px;
}

.box .element-floor-ITF-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000066;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 115px;
  left: 78px;
  position: absolute;
  top: 206px;
  width: 1245px;
}

.box .element-floor-ITF {
  height: 39px;
  left: 38px;
  position: absolute;
  top: 43px;
  width: 673px;
}

.box .overlap-wrapper {
  height: 477px;
  left: 63px;
  position: absolute;
  top: 830px;
  width: 1461px;
}

.box .overlap-3 {
  height: 477px;
  position: relative;
  width: 1457px;
}

.box .rectangle-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000066;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 477px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1453px;
}

.box .payment-method {
  height: 37px;
  left: 80px;
  position: absolute;
  top: 43px;
  width: 328px;
}

.box .img {
  height: 4px;
  left: 4px;
  position: absolute;
  top: 122px;
  width: 1453px;
}

.box .rectangle-3 {
  background-color: #f2f2f2;
  box-shadow: 0px 4px 4px #00000040;
  height: 176px;
  left: 77px;
  position: absolute;
  top: 188px;
  width: 823px;
}

.box .paystack {
  height: 28px;
  left: 193px;
  position: absolute;
  top: 269px;
  width: 132px;
}

.box .ellipse {
  background-color: #f2f2f2;
  border: 2px solid;
  border-color: #000000;
  border-radius: 18px/16px;
  height: 32px;
  left: 119px;
  position: absolute;
  top: 263px;
  width: 36px;
}

.box .image {
  height: 130px;
  left: 436px;
  object-fit: cover;
  position: absolute;
  top: 208px;
  width: 451px;
}

.box .rectangle-4 {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px #00000040;
  height: 208px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 2362px;
}

.box .cart-summary {
  height: 556px;
  left: 1604px;
  position: absolute;
  top: 308px;
  width: 763px;
}

.box .overlap-4 {
  height: 556px;
  position: relative;
}

.box .rectangle-5 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000066;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 556px;
  left: 0;
  position: absolute;
  top: 0;
  width: 725px;
}

.box .rectangle-6 {
  background-color: #770005;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  height: 84px;
  left: 20px;
  position: absolute;
  top: 446px;
  width: 691px;
}

.box .vector-2 {
  height: 5px;
  left: 1px;
  position: absolute;
  top: 88px;
  width: 724px;
}

.box .vector-3 {
  height: 4px;
  left: 0;
  position: absolute;
  top: 284px;
  width: 724px;
}

.box .vector-4 {
  height: 4px;
  left: 0;
  position: absolute;
  top: 403px;
  width: 724px;
}

.box .ORDER-SUMMARY {
  height: 30px;
  left: 22px;
  position: absolute;
  top: 33px;
  width: 353px;
}

.box .CONFIRM-ORDER {
  height: 30px;
  left: 188px;
  position: absolute;
  top: 474px;
  width: 330px;
}

.box .price {
  height: 58px;
  left: 18px;
  position: absolute;
  top: 126px;
  width: 745px;
}

.box .element {
  height: 37px;
  left: 543px;
  position: absolute;
  top: 15px;
  width: 135px;
}

.box .items-total {
  height: 32px;
  left: 3px;
  position: absolute;
  top: 9px;
  width: 245px;
}

.box .price-2 {
  height: 58px;
  left: 18px;
  position: absolute;
  top: 192px;
  width: 745px;
}

.box .element-2 {
  height: 30px;
  left: 543px;
  position: absolute;
  top: 15px;
  width: 107px;
}

.box .delivery-fee {
  height: 34px;
  left: 3px;
  position: absolute;
  top: 11px;
  width: 205px;
}

.box .price-3 {
  height: 58px;
  left: 17px;
  position: absolute;
  top: 326px;
  width: 745px;
}

.box .element-3 {
  height: 41px;
  left: 543px;
  position: absolute;
  top: 16px;
  width: 152px;
}

.box .total {
  height: 26px;
  left: 1px;
  position: absolute;
  top: 13px;
  width: 80px;
}

.box .home-about-menu {
  height: 30px;
  left: 624px;
  position: absolute;
  top: 100px;
  width: 915px;
}

.box .cart {
  height: 64px;
  left: 1957px;
  position: absolute;
  top: 72px;
  width: 148px;
}

.box .user {
  height: 92px;
  left: 2207px;
  object-fit: cover;
  position: absolute;
  top: 59px;
  width: 100px;
}

.box .foodies-removebg {
  height: 181px;
  left: 79px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 194px;
}

/* NavBar */
/* Positioning the badge */
.badge {
  position: relative;
  top: -5px; /* Adjust this value as needed */
  right: 35px; /* Adjust this value as needed */
  background-color: #770005; /* Adjust styles as needed */
  color: white; /* Adjust styles as needed */
  border-radius: 50%; /* For a circular shape */
  padding: 5px 8px; /* Adjust padding as needed */
  font-size: 12px; /* Adjust font size as needed */
}

/* Define a keyframe animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the animation to the element */
.shake-animation {
  animation: shake 0.5s ease-in-out infinite;
}
